/****** Object:  Table [dbo].[PILOTOS]    Script Date: 21/02/2019 11:17:30 ******/
DROP TABLE [dbo].[PILOTOS]
GO
/****** Object:  Table [dbo].[EQUIPOS]    Script Date: 21/02/2019 11:17:30 ******/
DROP TABLE [dbo].[EQUIPOS]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 21/02/2019 11:17:30 ******/
DROP TABLE [dbo].[CATEGORIA]
GO
/****** Object:  Database [RAZOR]    Script Date: 21/02/2019 11:17:30 ******/
DROP DATABASE [RAZOR]
GO
/****** Object:  Database [RAZOR]    Script Date: 21/02/2019 11:17:30 ******/
CREATE DATABASE [RAZOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RAZOR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RAZOR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RAZOR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RAZOR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RAZOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RAZOR]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 21/02/2019 11:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] NULL,
	[NOMBRE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPOS]    Script Date: 21/02/2019 11:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPOS](
	[ID_EQUIPO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[CATEGORIA] [int] NULL,
 CONSTRAINT [PK_EQUIPOS] PRIMARY KEY CLUSTERED 
(
	[ID_EQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PILOTOS]    Script Date: 21/02/2019 11:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PILOTOS](
	[ID_PILOTO] [int] NOT NULL,
	[DORSAL] [int] NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[EQUIPO] [int] NULL,
	[CATEGORIA] [int] NULL,
	[TITULOS] [int] NULL,
	[DEBUT] [int] NULL,
 CONSTRAINT [PK_PILOTOS] PRIMARY KEY CLUSTERED 
(
	[ID_PILOTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE]) VALUES (1, N'MotoGP')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE]) VALUES (2, N'Moto2')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE]) VALUES (3, N'Moto3')
INSERT [dbo].[EQUIPOS] ([ID_EQUIPO], [NOMBRE], [CATEGORIA]) VALUES (1, N'Repsol Honda Team', 1)
INSERT [dbo].[EQUIPOS] ([ID_EQUIPO], [NOMBRE], [CATEGORIA]) VALUES (2, N'Yamaha Factory Racing', 1)
INSERT [dbo].[EQUIPOS] ([ID_EQUIPO], [NOMBRE], [CATEGORIA]) VALUES (3, N'Ducati Team', 1)
INSERT [dbo].[PILOTOS] ([ID_PILOTO], [DORSAL], [NOMBRE], [APELLIDO], [EQUIPO], [CATEGORIA], [TITULOS], [DEBUT]) VALUES (1, 4, N'Andrea', N'Dovizioso', 3, 1, 1, 2001)
INSERT [dbo].[PILOTOS] ([ID_PILOTO], [DORSAL], [NOMBRE], [APELLIDO], [EQUIPO], [CATEGORIA], [TITULOS], [DEBUT]) VALUES (2, 5, N'Johann', N'Zarco', 6, 1, 2, 2009)
INSERT [dbo].[PILOTOS] ([ID_PILOTO], [DORSAL], [NOMBRE], [APELLIDO], [EQUIPO], [CATEGORIA], [TITULOS], [DEBUT]) VALUES (3, 9, N'Danillo', N'Petrucci', 3, 1, 0, 2012)
ALTER DATABASE [RAZOR] SET  READ_WRITE 
GO
